@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");

.body {
  margin: 0;
  font-family: "Roboto Mono", monospace;
  height: auto;
}

a:hover {
  opacity: 0.5;
}

#me {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  padding: 2px;
}

#me:hover {
  opacity: 0.6;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

#sidenav,
#test,
#test2 {
  visibility: hidden;
}

#header {
  grid-area: header;
}

#pic {
  grid-area: picture;
}
#sidenav {
  grid-area: menu;
  line-height: 2;
}
#content-container {
  grid-area: main;
}
#footer {
  grid-area: footer;
}

.body {
  display: grid;
  grid-template-areas:
    "picture picture picture picture picture picture"
    "menu menu main main main main"
    "menu menu main main main main"
    "menu menu main main main main"
    "footer footer footer footer footer footer";
  grid-gap: 10px;
}

@media only screen and (max-width: 635px) {
  #sidenav {
    position: absolute;
    text-align: right;
    right: 0px;
    max-width: 60%;
    margin: 25px 10px 0 0;
    line-height: 1, 5;
  }
  /* #sidenav br {
    display: none;
  } */

  #content-container {
    margin: 3rem 0 0 0;
  }

  .body {
    display: grid;
    /* grid-template-areas:
      "menu menu menu "
      "main main main "
      "footer footer footer ";
    grid-gap: 10px; */
  }
}
